<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669058965312-8jajro2tva1hu7ehplsgjt584ep9nsur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669058965312-8jajro2tva1hu7ehplsgjt584ep9nsur</string>
	<key>API_KEY</key>
	<string>AIzaSyCaBOKzGOnHQROOWys4io2021yhQ_7DiXA</string>
	<key>GCM_SENDER_ID</key>
	<string>669058965312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.damU4Proyecto219400621a</string>
	<key>PROJECT_ID</key>
	<string>proyecto2xd</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto2xd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669058965312:ios:38c5189f9113af621de4a5</string>
</dict>
</plist>